input:focus {
	outline:none;
}

a {
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: #000;
	opacity: 0.75;
}

a:hover {
	text-decoration: underline;
}

form:hover {
	background: rgb(300,300,300);
	
}


.right{
	padding-left: 30px:

}

.top-link {
	padding-left: 15px;
	
}

.top-link-right { 
	float: right;
	padding-right: 20px;
	
}

.chas {
	padding-right: 15px;
}

.logo{
	margin: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
}

.center-b {
  padding-top: 30px;
  display: block;
  max-width: 300px;
  margin: auto;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.round {
	margin-top: 20px;
  border-radius: 50px;
  width: 600px;
  height: 40px; 
  border: 1px solid rgb(220, 220, 220);
}

.top-left {
	position: fixed;
	top: 16px;
	width: 100%;
	min-width: 980px;
}

.top-right {
	position: fixed;
	top: 16px;
	width: 100%;
	min-width: 980px;
}

.button {

	border-radius: 5px;
	height: 40px;
	width: 140px;
	border: none;
	background-color: #F2F2F2;
}